<h1>Edit Product</h1>

<%= form_with model: @product do |form| %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <br>

  <div>
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <br>

  <div>
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <br>

  <div>
    <%= form.submit "Update Product" %>
  </div>

<% end %>