<% if notice %>
  <p><%= notice %></p>
<% end %>
<h1>Products</h1>

<%= link_to "New Product", "/products/new" %>

<br>
<br>

<% @products.each do |product| %>

  <div>

    <h2><%= product.name %></h2>

    <p>Price: <%= product.price %></p>

    <p>Description: <%= product.description %></p>

    <%= link_to "Show", "/products/#{product.id}" %>

    <%= link_to "Edit", "/products/#{product.id}/edit" %>

    <%= link_to "Delete", "/products/#{product.id}", data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %>

  </div>

  <hr>

<% end %>