<% if notice %>
  <p class= >
    <%= notice %>
  </p>
<% end %>

<div style="
  text-align: center;
  background-color: lightgray;
  padding: 40px;
  border-radius: 10px;
">

  <h1 style="
    color: darkblue;
    font-size: 40px;
    margin-bottom: 20px;
  ">
    Products
  </h1>

  <%= link_to "New Product",
      "/products/new",
      style: "
        background-color: blue;
        color: white;
        padding: 12px 20px;
        text-decoration: none;
        border-radius: 8px;
        font-size: 18px;
      "
  %>

</div>

<br>

<% @products.each do |product| %>

  <div style="
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid gray;
  ">

    <h2 style="color: darkblue;">
      <%= product.name %>
    </h2>

    <p>
      <strong>Price:</strong>
      <%= product.price %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= product.description %>
    </p>

    <p>
      <strong>Category:</strong>
      <%= product&.category&.name %>
    </p>

    <%= link_to "Show",
        "/products/#{product.id}",
        style: "
          background-color: blue;
          color: white;
          padding: 8px 14px;
          text-decoration: none;
          border-radius: 5px;
          margin-right: 10px;
        "
    %>

    <%= link_to "Edit",
        "/products/#{product.id}/edit",
        style: "
          background-color: orange;
          color: white;
          padding: 8px 14px;
          text-decoration: bnone;
          border-radius: 5px;
          margin-right: 10px;
        "
    %>

    <%= link_to "Delete",
        "/products/#{product.id}",
        method: :delete,
        style: "
          background-color: red;
          color: white;
          padding: 8px 14px;
          text-decoration: none;
          border-radius: 5px;
        "
    %>

  </div>

<% end %>