<div class="container mt-4">

  <h1 class="text-primary mb-4">
    <%= @product.name %>
  </h1>

  <div class="card">

    <div class="card-body">

      <p class="fs-5">
        <strong>Price:</strong>
        <%= @product.price %>
      </p>

      <p class="fs-5">
        <strong>Description:</strong>
        <%= @product.description %>
      </p>
      
      <p class="fs-5">
        <strong>Category:</strong>
        <%= @product.category.name %>
      </p>

      <%= link_to "Back to Products",
          products_path,
          class: "btn btn-primary" %>

    </div>

  </div>

</div>